<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--셀렉트 절에는 파라미터타입이랑 리절트 타입명시해주는것이 좋은 습관입니다.-->
<mapper namespace="com.zerobase.travel.user.mapper.UserMapper">
    <select id="findUserEmail" parameterType="String"
        resultType="com.zerobase.travel.user.dto.UserDTO">
        SELECT
            user_id,
            email,
            password,
            nickname,
            created_at,
            phone_num
        FROM user
        WHERE email = #{email}
    </select>
    <select id="findUser">
        SELECT
            user_id,
            email,
            password,
            nickname,
            created_at
        FROM user
        WHERE email = #{email}
    </select>
    <select id="findUserNickname">
        SELECT nickname
        FROM user
        WHERE nickname = #{nickname}
    </select>
    <insert id="signIn">
        INSERT INTO user
            (email, password, name, phone_num, nickname, created_at)
        VALUES
            (#{email}, #{password}, #{name}, #{phoneNum}, #{nickname}, now())
    </insert>
    <select id="findUserLoginEmail" parameterType="String"
            resultType="String">
        SELECT email
        FROM user
        WHERE name = #{name} AND phone_num = #{phoneNum}
    </select>
    <update id="updatePassword">
        UPDATE user
        SET password = #{password}
        WHERE email = #{email}
    </update>


</mapper>