<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.zerobase.travel.user.dto.SignInDTO"/>
        <package name="com.zerobase.travel.user.dto.FindUserEmailDTO"/>
        <package name="com.zerobase.travel.user.dto.TokenDTO"/>
        <package name="com.zerobase.travel.user.dto.UserDTO"/>
        <package name="com.zerobase.travel.user.dto.LoginDTO"/>
<!--        여기는 디티오 만들때마다 하나씩 추가해줘야 합니다! 아하....감사합니다..!!-->
    </typeAliases>
    <mappers>
        <mapper resource="mapper/com/zerobase/travel/user/UserMapper.xml"/>
        <mapper resource="mapper/BoardMapper.xml"/>
        <mapper resource="mapper/CommentMapper.xml"/>
        <mapper resource="mapper/FestivalMapper.xml"/>
        <mapper resource="mapper/FestivalReviewMapper.xml"/>
    </mappers>
</configuration>