<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zerobase.travel.festival_review.mapper.FestivalReviewMapper">


    <select id="list" resultType="com.zerobase.travel.festival_review.dto.FestivalReviewDTO">
        select * from festival_review where festival_id = #{festivalId}
    </select>

    <insert id="insert">
        insert into festival_review (review_id, festival_id, user_id, content, writer, grade, create_date)
        values (#{reviewId}, #{festivalId}, #{userId}, #{content}, #{writer},#{grade},#{createDate})
    </insert>

    <update id="modify">
        update  festival_review
        set content =IFNULL(#{festivalReviewDTO.content}, content),
            grade = IFNULL(#{festivalReviewDTO.grade}, grade)
        where review_id = #{reviewId} and festival_id = #{festivalId}

    </update>

    <delete id="delete">
        delete  from  festival_review where festival_id = #{festivalId} and review_id = #{reviewId}
    </delete>

    <select id="get" resultType="com.zerobase.travel.festival_review.dto.FestivalReviewDTO">
        select  * from festival_review where review_id = #{reviewId}
    </select>
</mapper>